.cards-list-wrapper {
    display: flex;
    padding: 20px 50px;
    justify-content: center;
    flex: 1;
}
.cards-container {
    width: 100%;
    height: 100%;
    background-color: $background-secondary;
    border: 1px solid #26285a;
    border-radius: 20px;
    color: $text-primary;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cards-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card {
    height: 47px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
    justify-items: center;
    align-items: center;
}

.card-header {
    background-color: #26285a;
    color: $text-secondary;
    margin-bottom: 8px;
}

.status-button {
    color: $text-secondary;
    border: none;
    border-radius: 20px;
    background-color: #a40202;
    padding: 5px 13px;
    cursor: pointer;

    &.complete {
        background-color: #07c548;
    }
}

.card-actions {
    width: 100%;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.show-more {
    font-size: 16px;
    color: $text-secondary;

    margin-right: 10px;
    padding: 6px 14px;
    border-radius: 20px;
    transition: all 0.1s linear;

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    &:hover {
        transform: scale(1.02);
    }
}

.card-option {
    cursor: pointer;
    border: none;
    background: none;

    &:hover {
        transform: scale(1.1);
    }
}

#def-text {
    margin: 20px;
}
