.cards-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 80px;
    padding: 30px;
    color: $text-secondary;
}

.card {
    background-color: $background-primary;
    width: 198px;
    padding: 10px 15px;
    color: $text-secondary;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-options {
    left: 100%;
    top: 24px;
    width: 23px;
    position: absolute;
    padding: 8px 0;
    background-color: $background-primary;
    border-radius: 0 10px 10px 0;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: $background-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.card-option {
    height: 17px;
    width: 17px;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

.card-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
    user-select: none;
}

.card-body {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    span {
        text-decoration: underline;
        text-underline-offset: 3px;
        user-select: none;
    }
}

.card-footer {
    button {
        padding: 10px 6px;
    }

    button p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        user-select: none;
    }
}
