.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 100px;

    & .input {
        width: 300px;
        margin-right: 300px;
    }

    & .dropdown {
        width: 200px;
    }
}
