// backgrounds
$background-primary: #ce8d3d;
$background-secondary: #fff;

//background hover
$background-hover-primary: #af6a10;

//text
$text-primary: #ce8d3d;
$text-secondary: #fff;

//button
$button-primary: #39479c;
$button-secondary: #a40202;

//button background hovers or active
$button-hover-primary: #000000;
$button-active-primary: #39479c;
$button-hover-secondary: #d80000;
$button-active-secondary: #d80000;
