// backgrounds
$background-primary: #CE8D3D;
$background-secondary: #fff;

//background hover
$background-hover-primary: #AF6A10;



//text
$text-primary: #CE8D3D;
$text-secondary: #fff;



//button
$button-primary: #26285A;
$button-secondary: #A40202;

//button background hovers or active
$button-hover-primary: #39479C;
$button-active-primary: #39479C;
$button-hover-secondary: #D80000;
$button-active-secondary: #D80000;