.header {
    display: flex;
    justify-content: space-between;
    background: $background-secondary;
    padding: 27px;
    border-radius: 20px 20px 0px 0px;

    & .wrapper-button {
        width: 345px;
        height: 64px;

        & p {
            font-size: 32px;
            font-weight: 700;
        }
    }
}
